@charset "UTF-8";
/*@import url(font-awesome.min.css);*/
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400);

@font-face {
 font-family: Fontawesome; /* Гарнитура шрифта */
 src: url(fonts/fontawesome-webfont.ttf); /* Путь к файлу со шрифтом */
  }

	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}

  body {
  	background: #f9f8f7;
  	font-family: "Oswald", Helvetica, sans-serif;
  	font-size: 12px;
  	color: #444;
  }

  /*-------Menu----------*/
  header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100px;
    line-height: 70px;
    background: #f9f8f7;
    /*margin: 0 7.5%;*/
    /*background: #7075b9;*/
  }
  header h1 {
    position: absolute;
    /*top: 20px;*/
    left: 30px;
    text-transform: uppercase;
    font-size: 28px;
    color: #474746;
  }
  header nav {
    /*text-align: center;*/
  	height: inherit;
  	line-height: inherit;
  	vertical-align: middle;
    /*border-bottom: solid 1px #000;*/
  }
  header nav > ul {
    position: absolute;
    top: 35px;
    left: 30px;
    list-style: none;
  }
  header nav > ul > li {
    display: inline-block;
    margin-right: 15px;
  }
  header nav > ul > li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #474746;
  }
  header nav > ul > li a:hover {
    color: #959595;
  }

nav label {
  	display: none;
  	position: fixed;
  	/*padding: 15px 15px 0 15px;*/
  	font-size: 24px;
  	color: #ffff00;
  	top: 0;
  	left: 0;
  	cursor: pointer;
  	z-index: 50;
  }
  @media screen and (max-width: 720px) {
  	nav label {
  		display: block;
  	}
  }
  nav input[type="checkbox"] {
  	display: none;
  }
  @media screen and (max-width: 720px) {
  	nav input[type="checkbox"]:checked + ul {
  		left: 0;
  	}
  }
  @media screen and (max-width: 720px) {
  	/*nav ul {
  		background-color: #500404;
  		position: fixed;
  		left: -250px;
  		top: 0;
  		bottom: 0;
  		width: 230px;
      padding-top: 50px;
  		-webkit-transition: all 200ms ease-in-out;
  		transition: all 200ms ease-in-out;
  		box-shadow: 2px 2px 5px black;
  	}*/
  }
  @media screen and (max-width: 720px) {
  	/*nav ul li {
  		display: block;
  		margin: 0;
  		padding: 10px 15px;
  		border-bottom: 1px solid #ccc;
  	}
  	.header nav ul li:nth-child(1) {
  		border-top: 1px solid #ccc;
  		margin-top: 60px;
  	}
    header nav > ul > li a {
      color: #ffff00;
    }*/
  }

  /*---------Gallery menu--------*/
  #h-menu {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
  }
  #h-menu a {
    float: right;
    padding: 0 30px 40px;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: #474746;
  }
  #h-menu a:hover {
    color: #959595;
  }


  #main-nav {
    position: fixed;
    top: 100px;
    right: -100%;
    height: 100%;
    width: 200px;
    padding-top: 10px;
    background: #f9f8f7;
    border-radius: 7px;
    -webkit-transition: right 0.3s;
    -moz-transition: right 0.3s;
    transition: right 0.3s;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    z-index: 7;
  }
  #main-nav.speed-in {
    right: 0;
  }
  #main-nav ul a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid #e0e6ef;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #474746;
  }
  #main-nav ul a:hover {
    color: #959595;
  }
  .no-js #main-nav {
    position: fixed;
  }

  /*@media only screen and (min-width: 900px) {
    #main-nav {
      width: 30%;
      padding-top: 80px;
    }
  }*/


  /*-------Photo-------*/
  .photo1 {
    position: relative;
    display: none;
    overflow: hidden;
    left: 30px;
    top: 0px;
    padding: 270px 0;
    margin-bottom: 20px;
    width: 80%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: url(./img/ukraine.jpg);
    /*background: #fe3d10;*/
    z-index: 5;
  }
  .photo1.speed-in {
    left: 30px;
    display:block;
    transition-duration: 0.9s;
  }

  .photo2 {
    position: relative;
    display: none;
    overflow: hidden;
    left: 30px;
    top: 0px;
    padding: 270px 0;
    margin-bottom: 20px;
    width: 80%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: url(img/world.JPG);
    /*background: #fe3d10;*/
    z-index: 5;
  }
  .photo2.speed-in {
    left: 30px;
    display:block;
    transition-duration: 0.9s;
  }

  .photo3 {
    position: relative;
    display: none;
    overflow: hidden;
    left: 30px;
    top: 0px;
    padding: 270px 0;
    margin-bottom: 20px;
    width: 80%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: url(./img/people1.JPG);
    /*background: #fe3d10;*/
    z-index: 5;
  }
  .photo3.speed-in {
    left: 30px;
    display:block;
    transition-duration: 0.9s;
  }

  .photo4 {
    position: relative;
    display: none;
    overflow: hidden;
    left: 30px;
    top: 0px;
    padding: 270px 0;
    margin-bottom: 20px;
    width: 80%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: url(img/dog.JPG);
    /*background: #fe3d10;*/
    z-index: 5;
  }
  .photo4.speed-in {
    left: 30px;
    display:block;
    transition-duration: 0.9s;
  }

  .photo5 {
    position: relative;
    display: none;
    overflow: hidden;
    left: 30px;
    top: 0px;
    padding: 270px 0;
    margin-bottom: 20px;
    width: 80%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: url(img/nature.jpg);
    /*background: #fe3d10;*/
    z-index: 5;
  }
  .photo5.speed-in {
    left: 30px;
    display:block;
    transition-duration: 0.9s;
  }


  @media screen and (max-width: 960px) {
    #main-nav {
      position: fixed;
      top: 100px;
      right: -100%;
      height: 100%;
      width: 130px;
    }
  }

  @media screen and (max-width: 410px) {
    .photo1 {
      width: 0;
    }
    .photo2 {
      width: 0;
    }
    .photo3 {
      width: 0;
    }
    .photo4 {
      width: 0;
    }
    .photo5 {
      width: 0;
    }
  }

/*---------------Gallery---------*/
main {
	padding: 100px 10px 30px;
	min-height: 250px;
}

.clearfix:after {
	content:"";
	display: block;
	height: 0;
	clear: both;
}

.photo-album {
	text-align: center;
	font-size: 0;
	max-width: 660px;
	margin: 0 auto;
}

.photo-album .target {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	content: "";
}

.photo-album .label {
	display: inline-block;
	width: 58px;
	height: 35px;
	background: #fff;
	padding: 5px 5px 15px;
	margin: 0 -1px -1px 0;
	border: 1px solid #aaa;
	vertical-align: bottom;
	opacity: 0.5;
  border-radius: 5px 5px 0 0;
}

.photo-album .label img {
	max-width: 100%;
}

/*.photo-album .label, .photo-album .photo {
	font-size: 16px;
}*/

.photo-album .picture {
  display: none;
	padding: 10px 10px 10px;
  border-radius: 10px;
	border: 1px solid #bdbdbe;
	background: #fff;
}

.picture img {
	max-width: 100%;
	border: 1px solid #bdbdbe;
  border-radius: 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#target6:not(:target) ~ #target5:not(:target) ~ #target4:not(:target) ~ #target3:not(:target) ~ #target2:not(:target) ~ .picture1,
.photo-album #target2:target ~ .picture2,
.photo-album #target3:target ~ .picture3,
.photo-album #target4:target ~ .picture4,
.photo-album #target5:target ~ .picture5,
.photo-album #target6:target ~ .picture6 {
	display: block;
}

#target6:not(:target) ~ #target5:not(:target) ~ #target4:not(:target) ~ #target3:not(:target) ~ #target2:not(:target) ~ .label1:after,
.photo-album #target2:target ~ .label2:after,
.photo-album #target3:target ~ .label3:after,
.photo-album #target4:target ~ .label4:after,
.photo-album #target5:target ~ .label5:after,
.photo-album #target6:target ~ .label6:after {
	position: absolute;
	content: "";
	/*margin: 6px 0 0 -5px;*/
	width: 73px;
	height: 1px;
	display: block;
	background: #fff;
}

#target6:not(:target) ~ #target5:not(:target) ~ #target4:not(:target) ~ #target3:not(:target) ~ #target2:not(:target) ~ .label1,
.photo-album #target2:target ~ .label2,
.photo-album #target3:target ~ .label3,
.photo-album #target4:target ~ .label4,
.photo-album #target5:target ~ .label5,
.photo-album #target6:target ~ .label6 {
	width: 63px;
	height: 40px;
	opacity: 1;
	border-top: 2px solid #ADD8E6;
}
